# Hypothesis Testing

## Completion Rate per Step

Null Hypothesis: The completion rate for the Test group (new design) is equal to the completion rate for the Control group (old design).

In [8]:
import numpy as np
import statsmodels.api as sm
import pandas as pd

In [12]:
# Read time spent csv files
time_df = pd.read_csv('../data/clean/time_spent.csv')
time_df.head()

,Unnamed: 0,client_id,visitor_id,visit_id,from_step,to_step,time_spent,is_error
0,0,169,201385055_71273495308,749567106_99161211863_557568,start,step_1,0 days 00:00:09,False
1,1,169,201385055_71273495308,749567106_99161211863_557568,step_1,step_2,0 days 00:00:46,False
2,2,169,201385055_71273495308,749567106_99161211863_557568,step_2,step_3,0 days 00:01:34,False
3,3,169,201385055_71273495308,749567106_99161211863_557568,step_3,confirm,0 days 00:01:04,False
4,4,546,475037402_89828530214,731811517_9330176838_94847,start,step_1,0 days 00:00:10,False

In [6]:
completed = np.array([18285, 15211]) # test, control
total = np.array([28581, 23800]) # test, control

# perform Two-proportion Z test package
z_stat, p_value = sm.stats.proportions_ztest(count, nobs)

print(f"Z-statistic: {z_stat:.4f}")
print(f"P-value: {p_value:.4f}")

alpha = 0.05  # Significance level
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in completion rates.")
else:
    print("Fail to reject the null hypothesis: No significant difference in completion rates.")

Z-statistic: 0.1526
P-value: 0.8787
Fail to reject the null hypothesis: No significant difference in completion rates.

# Completion Rate with a cost-effectiveness threshold

In [ ]:
completed = [18285, 15211]  # Number of participants who completed the test
total = [28581, 23800] # Total number of participants

# Perform the two-proportion z-test
z_stat, p_value = proportions_ztest(completed, total)

# Print results
print(f"Z-statistic: {z_stat:.4f}")
print(f"P-value: {p_value:.4f}")

alpha = 0.05  # Significance level
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in completion rates.")
else:
    print("Fail to reject the null hypothesis: No significant difference in completion rates.")